
.row {
    display: flex;
}

.column{
    flex: 50%;
}
.card{
    border-color:black;
    border-radius: 5px;
    border-width:3px;
    margin:50px;
    
}

.card-body{
    padding:0px
}
.info{
    border-width:5px;
    border-color: white ;
    border-radius: 3px;;
    border-style:solid;
    padding:15px;
    color: white;
    background-color: #08301d;
    font-size: 30px;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing:5px;


}
h5{
    font-size: 40px;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing:5px;
    color:white;

}

.btn, .siteBtn{
    background-color:white;
    border-width:0px;
    border-radius: 5px;;
    font-family:arial;
    font-size:25px; 
    color:#043b20;   
    -webkit-text-stroke-width:1px;
}

.btn:hover{
    background-color:#043b20;
    color:white;
    box-shadow: 10px 10px 10px 0px white;
    border-radius: 5px;;
    font-family:arial;
    font-size:25px; 

}
.siteBtn:hover{
    background-color:black;
    color:white;
    box-shadow: 10px 10px 10px 0px white;
    border-radius: 5px;;
    font-family:arial;
    font-size:25px; 

}
.siteBtn:focus{
    background-color:black;
    color:white;
    box-shadow: 10px 10px 10px 0px white;
    border-radius: 5px;;
    font-family:arial;
    font-size:25px; 

}

.btn:focus{
    background-color:#043b20;
    color:white;
    box-shadow: 10px 10px 10px 0px white;
    border-radius: 5px;;
    font-family:arial;
    font-size:25px; 
}

.body{
    background-color:black;
}

header{
    text-align:center;
    margin:10px;
    padding:50px;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url("https://images.unsplash.com/photo-1584225697140-8bef0e4daab6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
    /* background-color:black; */

}
.size{
    font-size:50px;
    text-shadow: 10px 10px #043b20, 20px 20px #056336 ;

}

.dropdown-menu{
    background-color: #043b20;
}

.dropdown-item{
    color: #056336;
    font-family:arial;
    font-size:30px; 
}

.dropdown-item:hover, :focus{
    color: white;
    background-color: #043b20;
    font-family:arial;
    font-size:30px; 
}

.scrollToTop{
    width:100px; 
    height:130px;
    padding:20px; 
    margin-top:10px;
    font-size:22px;
    text-align:center; 
    background: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 5px;
    position:fixed;
    bottom:75px;
    right:40px;
    display:none;
    
}
.scrollToTop:hover{
    color: #043b20;
    background-color: white;
}

